Package: ticcomp
Version: 1.2
Maintainer: Sjoerd Vermeulen <sjoerd@marsenaar.com>
Section: interpreters
Architecture: all
Priority: optional
Depends: python3
Recommends: gcc
Description: Compiler for AttemptLang
 This is the compiler for Tic. See https://github.com/SjVer/Tic for more information.